<%= react_component('AboutPage') %>

<div class="banner" id="about-banner">
	<h1>About TEDxBerkeley</h1>
</div>

<div class="banner" id="video-banner">
	<h1>About TED </h1>
	<div id="video-frame">
	</div>
	<p> This is where the mandatory text from TED will have to go.
	</p>
</div>
