.banner
  =link_to "http://www.eventbrite.com/e/tedxberkeley-2016-finding-x-tickets-18508165421" do
    .action_button
      %h2.ticket_button Buy Tickets Now!
.banner
  %h3.about_button Learn More
.banner
  .float_frame
    %h3.init_box Cats Initiative
    %h3.init_box Dogs initiative
    %h3.init_box ChinChilla Initiative
