.short_banner

.year_banner
  %h1= 2016
  %h2 Team Members
  -if can? :create, TeamMember
    =link_to "New", new_team_member_path

-@members.each do |member|
  =link_to member do
    .object_box
      %h3=member.name
      %p=member.role
      -if can? [:destroy, :update], TeamMember
        =link_to "Delete", member, method: :delete
        =link_to "Edit", edit_team_member_path(member)
