.short_banner
  %h1 Team Members

.year_banner
  .wrapper
    %h1= 2016
    -if can? :create, TeamMember
      %h1=link_to "New", new_team_member_path

.wrapper
  -@members.each do |member|
    =link_to member, class: 'team' do
      .object_box.hvr-sweep-to-left.team_index
        - if member.photo_url
          %img.photo{src: member.photo_url}
        .team_contents
          %h3=member.name
          %p=member.role
    -if can? [:destroy, :update], TeamMember
      =link_to "Delete", member, method: :delete
      =link_to "Edit", edit_team_member_path(member)
