<h1>Users</h1>
<%= link_to "New User", new_user_registration_path %>

<% @users.each do |user| %>
   <%= link_to user do %>
      <%= user.email %>
    <% end %>
    <%= link_to "Delete User", user, method: :delete %>
<% end %>
