.short_banner

.year_banner
  %h1 Users
  -if can? :create, User
    = link_to "New User", new_user_registration_path

- @users.each do |user|
  = link_to user do
    .object_box
      %p= user.email
      - if can? :delete, User
        = link_to "Delete User", user, method: :delete
