.sponsor_index
  %h1 Partners
  %p Our partners play an essential part in making TEDxBerkeley a success, they help us spread our message practice what we preach by supporting local businesses. Please contact us at info@tedxberkeley.org if you would like to become a partner.

.year_banner
  .wrapper
    %h1= @current_event.date.year
    %h2 Partners
    -if can? :create, Sponsor
      %h1= link_to "New Partner", new_sponsor_path

.wrapper
  - @sponsors.each do |sponsor|
    .object_box.hvr-sweep-to-left.sponsor
      =link_to sponsor, class: 'sponsor_link' do
        =sponsor.name

