.short_banner

.year_banner
  .wrapper
    %h2 Nominations

.wrapper
  - @nominations.each do |nomination|
    = link_to nomination do
      .object_box.hvr-sweep-to-left
        %p Speaker
        %h3= nomination.speaker_name
        %p Nominated By
        %h3= nomination.submitter_name
        - if can? :delete, Nomination
          = link_to "Delete Nomination", nomination, method: :delete
