<div class="banner">
	Nominations!
</div>

<%= @nominations.each do |nomination| %>
	<%= link_to nomination do %>
		<div class="nom-box">
			<p> Speaker </p>
			<p><%= nomination.speaker.try(:name) %> </p>
			<p> Nominated By </p>
			<p><%= nomination.submitter_name %> </p>
		</div>
	<% end %>
<% end %>
