// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#home-banner {
	background-color: orange;
}

#home-banner #title-box {
	background: green;
	padding: 5px;
	width: 40%;
}

#home-banner #ticket-box {
	background: yellow;
	width: 30%;
}

#about-banner {
	background-color: red;
}

#video-banner {
	background-color: dark-red;
	height: 600px;
}

#video-frame {
	margin-top: 20px;
	background-color: blue;
	width: 600px;
	height: 400px;
}