.short_banner

.year_banner
  %h1= 2016
  %h2 Speakers
  -if can? :create, Speaker
    =link_to "New", new_speaker_path

-@speakers.each do |speaker|
  =link_to speaker do
    .object_box
      %h3= speaker.name
      %p= speaker.tagline
      -if can? [:destroy, :update], Speaker
        =link_to "Delete Speaker", speaker, method: :delete
        =link_to "Edit Speaker", edit_speaker_path(speaker)
